$black: #222222;
$white: #feffff;
$purple: #bbb9da;
$green: #acd0cd;
$darkgreen: #222c2d;
$blue: #90c9e3;
$pink: #dda1be;
$orange: #fc8872;
$lightgrey: #ebebeb;
$grey: #b7b7b7;
$lightengrey: #acacac;
$darkgrey: #7b8298;
$greenishgrey: #5f676a;

$bg-gray: #f4f6f6;
