@import "./reset";
@import "./colors";
@import "./variables";

.app {
  max-width: 500px;
  flex: 1;
  background-color: $bg-gray;
  padding-bottom: 100px;
  &-container {
    padding: 15px;
  }

  .navigation {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    padding: 15px;
    max-width: 500px;
    .navigation-container {
      height: 100%;
      border-radius: $cardRadius;
      -webkit-backdrop-filter: blur(10px);
      background-color: #ffffff7d;
      padding: 5px;
      box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(10px);
      background-blend-mode: overlay;
      display: flex;
      align-items: center;

      .navigation-item {
        flex: 1;
        height: 100%;
        display: flex;
        padding: 5px;
        transition: all 0.2s ease;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;

          svg {
            width: $iconSize;
            height: $iconSize;
            fill: $black;
          }
          span {
            display: none;
            font-size: 11px;
            font-weight: 700;
            color: white;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &.active {
          flex: 2;
          background-color: $black;
          border-radius: 20px;

          a {
            justify-content: flex-start;

            svg {
              margin-right: 10px;
              fill: $blue;
            }

            span {
              display: block;
            }
          }
        }
      }
    }
  }
  .page {
    display: flex;
    flex-direction: column;
  }
  .hometotal {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .multicard-container {
    display: flex;
    flex: 1;
  }
  .card-container {
    display: flex;
    flex: 1;
    padding: 10px 5px;
  }

  .card {
    border-radius: $cardRadius;
    background-color: $white;
    display: flex;
    flex: 1;
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    padding: 20px;
    flex-direction: column;
  }
}
.passcode {
  max-width: 500px;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 40px;
  background-color: $darkgreen;
  &-top {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    &-text {
      text-align: center;
      color: $white;
      font-size: 16px;
      font-weight: 600;
    }
    &-code {
      display: flex;
      flex: 1;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      padding: 8px 0;

      &.error {
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }

      &-item {
        width: $CodeSize;
        height: $CodeSize;
        border-radius: 50%;
        border: 2px solid $white;

        &.active {
          background: $white;
        }
      }

      @keyframes shake {
        10%,
        90% {
          transform: translate3d(-1px, 0, 0);
        }

        20%,
        80% {
          transform: translate3d(2px, 0, 0);
        }

        30%,
        50%,
        70% {
          transform: translate3d(-4px, 0, 0);
        }

        40%,
        60% {
          transform: translate3d(4px, 0, 0);
        }
      }
    }
  }
  &-middle {
    display: flex;
    flex: 5;
    &-numbers {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;

      &-buttons {
        flex: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
        &-button {
          color: $white;
          border: none;
          padding: 0;
          width: $btnPasscodeSize;
          height: $btnPasscodeSize;
          background: $greenishgrey;
          border-radius: 50%;
          font-size: 40px;
          font-weight: bolder;

          &:active {
            background: $lightengrey;
          }
        }
      }
    }
  }
  &-bottom {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    &-container {
      display: flex;
      align-items: flex-end;
    }
    &-button {
      color: $white;
      background-color: transparent;
      border: none;
      padding: 0;

      &:active {
        color: $grey;
      }
    }
  }
}
