@import "./reset";
@import "./colors";
@import "./variables";

.app {
  max-width: $max;
  flex: 1;
  background-color: $bg-gray;
  padding-bottom: 100px;

  .page {
    display: flex;
    flex-direction: column;
    position: relative;
    &.green {
      background-color: $bg-green;
    }

    .subpage {
      background-color: white;
      padding: 30px 20px 20px 20px;
      border-radius: 32px 32px 0 0;
      &.gray {
        background-color: $bg-gray;
      }
      &.green {
        background-color: $bg-green;
      }
      &.under {
        margin-top: -30px;
      }
      &.hasunder {
        padding-bottom: 40px;
      }
    }
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      h2 {
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        color: $black;
      }
      a {
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: $blue;
      }
      button {
        background-color: transparent;
        border: none;
        width: 40px;
        padding: 0px 10px;
      }
    }
  }
  .addBtn {
    position: fixed;
    bottom: 95px;
    z-index: 20;
    right: 15px;

    &-btn {
      background-color: $yellow;
      border: 3px solid $white;
      box-shadow: 0px 0px 14px -4px #403e3ea6;
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
  }
}

@import "./components/navigation.scss";
@import "./components/passcode.scss";
@import "./components/home.scss";
@import "./components/transaction.scss";
@import "./components/bills.scss";
